html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-white);
  color: var(--color-black);
  margin: 0;
}

html,
body,
body > div,
body > div > div {
  width:100%;
}

.feature {
  display: flex;
  padding-bottom: 2em;
  align-items: center;
  max-width: 90%;
  padding: 2em 1em;
  margin-left: auto;
  margin-right: auto;
}
.black {
background-color:black;
color:white;
}
  .feature h4 {
    font-size: 2em;
  }

  .feature .left1 {
    width: 40%;
  }

  .feature .left {
    width: 100%;
  }

  .feature .right {
    padding-left: 3.5em;
    width: 100%;
  }

  .feature .right1 {
    padding-right: 3.5em;
    width: 100%;
  }

  .feature p {
    padding-top: 0.4em;
    font-size: 1.1em;
  }

  .feature .right .btn {
    padding: 0;
    color: white;
    text-decoration: underline;
  }

.bgcontainer {
  position: relative;
  text-align: center;
  color: white;
}
.bgcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bgcenter1 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bg {
width:100%;
height: 500px;
}
.mainbody {
  overflow: hidden;
}
.title {
    text-align:center;
}

.installationguide {
  background-color: white;
}

  .installationguide .lefty {
    padding-top: 1em;
    color: black;
    font-size: 30px;
    text-align: center;
  }

  .installationguide .btn {
    font-size: 22px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    color:white;
    padding: 15px 15px;
    border-radius:10px;
    background-color: black;
  }

  .installationguide .centre1 {
    padding-top: 1.5em;
    padding-bottom: 2em;
    text-align: center;
  }

  .installationguide .centre {
    padding-top: 1.5em;
    padding-bottom: 1.2em;
    text-align: center;
  }

  .installationguide img {
    width: 12%;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
  }
.thankyou .btn {
  font-size: 22px;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  color: white;
}

.thankyou .center {
  padding-top: 1.5em;
  padding-bottom: 2em;
  text-align: center;
}

